.hover-zoom {
    transition: transform 0.2s ease-in-out;
}
.hover-zoom:hover {
    transform: scale(1.1); /* lekki zoom */
}
.hover-streak {
    position: relative;
    display: inline-block;
    color: white;
    overflow: hidden;
    transition: color 0.3s;
}

/*======Login========*/

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
}

.login-wrapper .mud-input {
    width: 100% !important;
    max-width: 100% !important;
}