@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudAppBar Color="Color.Primary" Elevation="4">
    <MudLink Href="#" Typo="Typo.h4" Color="Color.Secondary" Underline="Underline.None" Class="hover-zoom">
        vDanix
    </MudLink>
    <MudSpacer />
    <MudLink Href="login" Typo="Typo.h6" Color="Color.Secondary" Underline="Underline.None" Class="hover-zoom">
        Login
    </MudLink>
</MudAppBar>

<div class="page" style="padding-top:64px;">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
