@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider Theme="Theme" @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<PageTitle>vDanix ToDo</PageTitle>

<MudAppBar Elevation="16" Class="navbar">
    <MudButton Variant="Variant.Text" Href="/" Class="logo">vDanix</MudButton>
    <MudSpacer />
    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Href="/login">Login</MudButton>
</MudAppBar>

<div class="page">
    <main>
        <div class="app-background">
            <article>
                @Body
            </article>
        </div>
    </main>
</div>

<MudPaper Elevation="16" Class="fotter">
    <MudText Typo="Typo.subtitle2" Align="Align.Center">Created by vDanix and ❤️ to c#</MudText>
</MudPaper>

@code {
    private bool _isDarkMode = true;

    MudTheme Theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
        
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "00BCD4",
            Secondary = "FFC107",
            AppbarBackground = Colors.Red.Default,
            AppbarText = "dce0d9",
            TextPrimary = "F5F5F5",
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}