@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<PageTitle>vDanix ToDo</PageTitle>

<MudAppBar Elevation="16" Class="navbar">
    <MudButton Variant="Variant.Text" Href="/" Class="logo">vDanix</MudButton>
    <MudSpacer />
    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Href="/login">Login</MudButton>
</MudAppBar>

<div class="page">
    <main>
        <div class="app-background">
            <article>
                @Body
            </article>
        </div>
    </main>
</div>
