@page "/"
@using MudBlazor

<div class="hero-inner">
        <MudText Typo="Typo.h1" Align="Align.Center" Color="Color.Primary">ToDo Application</MudText>
        <MudText Typo="Typo.h1" Align="Align.Center" Color="Color.Primary">
            By <MudText Typo="Typo.h1" Inline="true" Class="name-text">vDanix</MudText>
        </MudText>
        <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Secondary">Manage your tasks efficiently and stay organized with our intuitive ToDo app.</MudText>

    <MudGrid Justify="Justify.Center" Class="buttons">
        <MudItem xs="1">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/login">
                GET STARTED
            </MudButton>
        </MudItem>
        <MudItem xs="1">
            <MudButton Variant="Variant.Outlined" Href="/login">
                Contact
            </MudButton>
        </MudItem>
    </MudGrid>
</div>
