@page "/login"
@using Todo.Frontend.Models
@inject HttpClient Http
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavManager

<div class="login-wrapper">
    <MudCard Class="card" Style="max-width:400px;width:100%" >
        <MudCardContent>
            <MudField Label="Email or Username"
                      Variant="Variant.Outlined"
                      FullWidth="true">
                <MudInput @bind-Value="email" Class="full" />
            </MudField>

            <MudField Label="Password" 
                      Variant="Variant.Outlined"
                      FullWidth="true">
                <MudInput @bind-Value="password" Class="full"
                          InputType="InputType.Password" />
            </MudField>
            <MudStack>
                <MudLink Href="#" Typo="Typo.subtitle1" Color="Color.Info" Underline="Underline.None">Forgot Password?</MudLink>

                <MudFlexBreak />

                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" OnClick="LoginUser">Login</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <MudButton Href="/register" Variant="Variant.Filled" FullWidth="true" Color="Color.Secondary">Register</MudButton>
                </MudItem>
            </MudStack>
        </MudCardContent>
    </MudCard>
</div>

@code {
    string email;
    string password;

    private async Task LoginUser()
    {
        var user = new
        {
            emailOrUsername = email,
            password = password,
        };
        var request = new HttpRequestMessage(HttpMethod.Post, $"/api/Users/login")
    {
        Content = new StringContent(
            System.Text.Json.JsonSerializer.Serialize(user),
            System.Text.Encoding.UTF8,
            "application/json")
    };

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var jsonContent = await response.Content.ReadAsStringAsync();

            var loginResult = System.Text.Json.JsonSerializer.Deserialize<LoginResponse>(jsonContent,
                          new System.Text.Json.JsonSerializerOptions { PropertyNameCaseInsensitive = true });

            if (loginResult != null && !string.IsNullOrEmpty(loginResult.AccessToken))
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", loginResult.AccessToken);
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "refreshToken", loginResult.RefreshToken);
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "username", loginResult.Username);

                NavManager.NavigateTo("/dashboard");
            }
        }
        else
        {
            Console.WriteLine("BLAD LOGOWANANIA");
        }
    }
}
