@page "/register"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager NavManager

<div class="login-wrapper">
    <MudCard Class="card" Style="max-width:400px;width:100%">
        <MudCardContent>
            <MudField Label="Email"
                      Variant="Variant.Outlined"
                      FullWidth="true">
                <MudInput @bind-Value="email" Class="full" />
            </MudField>

            <MudField Label="Username"
                      Variant="Variant.Outlined"
                      FullWidth="true">
                <MudInput @bind-Value="username" Class="full" />
            </MudField>


            <MudField Label="Password"
                      Variant="Variant.Outlined"
                      FullWidth="true">
                <MudInput @bind-Value="password" Class="full"
                          InputType="InputType.Password" />
            </MudField>
            <MudStack>
                <MudLink Href="#" Typo="Typo.subtitle1" Color="Color.Info" Underline="Underline.None">Forgot Password?</MudLink>

                <MudFlexBreak />

                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled"
                               FullWidth="true"
                               Color="Color.Secondary"
                               OnClick="RegisterUser">
                                    Register</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <MudButton Href="/login" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary">Login</MudButton>
                </MudItem>
            </MudStack>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Inject]
    public ISnackbar Snackbar { get; set; }

    string email;
    string password;
    string username;

    private async Task RegisterUser()
    {
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(password) || string.IsNullOrEmpty(username))
        {
            Snackbar.Add("Oooops, you have empty fields", Severity.Error);
            return;
        }
        var user = new
        {
            username = username,
            email = email,
            password = password,
        };
        var request = new HttpRequestMessage(HttpMethod.Post, $"/api/Users")
        {
            Content = new StringContent(
            System.Text.Json.JsonSerializer.Serialize(user),
            System.Text.Encoding.UTF8,
            "application/json")
        };

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            Console.WriteLine("BLAD register" + response);
        }
    }
}
